/* SPDX-FileCopyrightText: 2025 Tim Hegemann <hegemann@informatik.uni-wuerzburg.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.storyline-container {
  overflow-x: auto;
}

.nv__hidden {
  display: none;
}