/* SPDX-FileCopyrightText: 2024 Tim Hegemann <hegemann@informatik.uni-wuerzburg.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.nv__file-select-container {
  max-width: 300px;
  height: 200px;
  padding: 25px;
  border: 2px dashed var(--pk-light-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
}

.nv__file-select-container:hover,
.nv__file-select-active {
  border-color: var(--pk-dark-green);
}

.nv__file-select-error {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--pk-light-red);
}